{% extends "studentbase.html" %}

{% block navActive %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/student/studentHome">Student Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/entry/logout">Logout</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="profile-container-left">
    <image class="profile-picture" src="{{ url_for('static', filename='images/profile2.png')}}"></image>
  </div>
  <div class="profile-container-right">
    <div class="profile-container-header">
      <h1>{{ name }}</h1>
    </div>
    <h5>Email: {{ email }}</h2>
    <h5>Account Type: {{ current_user.accountType }}</h2>
  </div>
</div>
{% endblock %}