{% extends "classPageBaseT.html" %}

{% block content %}
  <div class="singular-class-container">
    <div class="singular-class-header">
      <h2>Assignments</h2>
    </div>

    <div class="class-students-container">
      <h5>
        Create Assignment
      </h5>

      <form method="POST">
        <input name="classAssignmentName" id="classAssignmentName" class="form-control" placeholder="Assignment Name">
        <input type="hidden" name="action" value="addAssignment">
        <button type="submit" class="btn btn-success form-control">ADD</button>
      </form>
    </div>
    
    <div class="class-students-container">
      <h5>
        Delete Assignment
      </h5>
    
      <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenuButtonDelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Assignment
      </button>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDelete">
        {% for assignment in assignments %}
          <a class="dropdown-item dropdown-item-delete" href="#" onclick="setAssignmentIdToDelete({{ assignment.id }})">{{ assignment.name }}</a>
        {% endfor %}
      </div>
      
      <form class="delete-button" id="deleteAssignmentForm" method="POST" action="{{ url_for('teacherClass.classPageAssignmentsT', class_id=selectedClass.id) }}">
        <input type="hidden" name="assignmentIdToDelete" id="assignmentIdToDelete">
        <input type="hidden" name="action" value="deleteAssignment">
        <button type="submit" class="btn btn-danger form-control">Delete Assignment</button>
      </form>

    </div>

    <div class="class-students-container">
      <h5>
        Current Assignments
      </h5>

      <ul>
        {% for assignment in assignments %}
          <br>
          <h5>{{assignment.name}}</h5>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
