{% extends "teacherBase.html" %}

{% block navActive %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/teacher/teacherHome">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/teacher/teacherClassManagement">Class Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teacher/teacherProfile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/entry/logout">Logout</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1 class="manage-header">Manage Classes</h1>

  <div class="add-class-container">
    <h4>Add a class</h4>
    <form method="POST">
      <input name="schoolClass" id="schoolClass" class="form-control" placeholder="Class Name">
      <input type="hidden" name="action" value="addClass">
      <button type="submit" class="btn btn-success form-control">add</button>
    </form>
  </div>

  <div class="delete-class-container">
    <h4>Delete a class</h4>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Class List
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for schoolClass in schoolClasses %}
          <a class="dropdown-item" href="#" data-class-id="{{ schoolClass.id }}">{{ schoolClass.className }}</a>
        {% endfor %}
      </div>

      <form class="delete-button" id="deleteClassForm" method="POST" action="{{ url_for('teacherClass.teacherClassManagement') }}">
        <input type="hidden" name="classIdToDelete" id="classIdToDelete">
        <input type="hidden" name="action" value="deleteClass">
        <button type="submit" class="btn btn-danger form-control">Delete Selected Class</button>
      </form>
  </div>
{% endblock %}