{% extends "teacherBase.html" %}

{% block navActive %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/teacher/teacherHome">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/teacher/teacherClassManagement">Class Management</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/teacher/teacherProfile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/entry/logout">Logout</a>
  </li>
</ul>
{% endblock %}

{% block content %}
  <br>
  <div class="dashboard">
    Dashboard
  </div>

  <div class="classes-grid">
    {% for schoolClass in schoolClasses %}
      <a href="{{ url_for('teacherClass.classPageHomeT', class_id=schoolClass.id) }}" class="class-link">
        <div class="class-container">
          <div class="class-name"><h6>{{ schoolClass.className }}</h6></div>
          <div class="class-description">
            ...
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

{% endblock %}