{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block navActive %}
  <li class="nav-item active navbar-class">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item navbar-class">
    <a class="nav-link" href="/entry/login">Login</a>
  </li>
  <li class="nav-item navbar-class">
    <a class="nav-link" href="/entry/signup">Signup</a>
  </li>
{% endblock %}


{% block content %} 

  <div class="title-container">
    <div class="title-container-left">
      <div class="title-container-left-heading">
        A New Course Management System
      </div>

      <div class="title-container-left-description">
        The future of the grading system, using standard based grading
      </div>

      <a class="btn btn-custom btn-lg" href="/entry/signup" role="button">Sign Up Now</a>

      <button id="learn-more-btn" type="button" class="btn btn-outline-custom btn-lg">Learn More  ↓</button>
    </div>
    <div class="title-container-right">
      <image class="homepage-image-main" src="{{ url_for('static', filename='images/sbgpic.png')}}"></image>
    </div>
  </div>

  <div id="scroll-target" class="second-container-title">
    <div class="second-container-title-description">
      HOW IT WORKS
    </div>
  </div>

  <div class="steps-containers">
    <div class="steps-containers-inner">
      <div class="steps-containers-inner-left">
        <div class="steps-containers-inner-left-num">
          01
        </div>
        <div class="steps-containers-inner-left-desc">
          Sign Up as a Teacher and Login
        </div>

      </div> 
      <div class="steps-containers-inner-right">
        <image class="homepage-images" src="{{ url_for('static', filename='images/step1.png')}}"></image>
      </div>
    </div>

    <div class="steps-containers-inner">
      <div class="steps-containers-inner-left">
        <div class="steps-containers-inner-left-num">
          02
        </div>
        <div class="steps-containers-inner-left-desc">
          Create/Delete Classes in the Manage Section
        </div>

      </div> 
      <div class="steps-containers-inner-right">
        <image class="homepage-images" src="{{ url_for('static', filename='images/step2.png')}}"></image>
      </div>
    </div>

    <div class="steps-containers-inner">
      <div class="steps-containers-inner-left">
        <div class="steps-containers-inner-left-num">
          03
        </div>
        <div class="steps-containers-inner-left-desc">
          Added Classes will show on the Home Dashboard
        </div>

      </div> 
      <div class="steps-containers-inner-right">
        <image class="homepage-images" src="{{ url_for('static', filename='images/step3.png')}}"></image>
      </div>
    </div>

    <div class="steps-containers-inner">
      <div class="steps-containers-inner-left">
        <div class="steps-containers-inner-left-num">
          04
        </div>
        <div class="steps-containers-inner-left-desc">
          Select the desired class and add/delete students
        </div>

      </div> 
      <div class="steps-containers-inner-right">
        <image class="homepage-images" src="{{ url_for('static', filename='images/step4.png')}}"></image>
      </div>
    </div>

    <div class="steps-containers-inner">
      <div class="steps-containers-inner-left">
        <div class="steps-containers-inner-left-num">
          05
        </div>
        <div class="steps-containers-inner-left-desc">
          Add/Delete Assignments
        </div>

      </div> 
      <div class="steps-containers-inner-right">
        <image class="homepage-images" src="{{ url_for('static', filename='images/step5.png')}}"></image>
      </div>
    </div>
  </div>

  <div class="third-container">
    <div class="third-container-header">
      <h1>Why Standard Based Grading?</h1>
    </div>

    <div class="three-blocks">
      <div class="three-blocks-container">
        <div class="three-blocks-container-top">
          <image class="homepage-why-images" src="{{ url_for('static', filename='images/lightbulb.png')}}"></image>
        </div>
        <div class="three-blocks-container-bottom">
          <div class="three-blocks-container-bottom-title">
            Focus on Understanding
          </div>
          <div class="three-blocks-container-bottom-desc">
            Shifts the focus from just getting good grades (numbers) to really understanding the material. It helps in identifying specific areas that need improvement
          </div>
        </div>
      </div>
      <div class="three-blocks-container">
        <div class="three-blocks-container-top">
          <image class="homepage-why-images" src="{{ url_for('static', filename='images/consistency.png')}}"></image>
        </div>
        <div class="three-blocks-container-bottom">
          <div class="three-blocks-container-bottom-title">
            Consistency Across Classes
          </div>
          <div class="three-blocks-container-bottom-desc">
            Offers a more consistent way of measuring student performance across different classes, ensuring fairness and comparability in assessments
          </div>
        </div>
      </div>
      <div class="three-blocks-container">
        <div class="three-blocks-container-top">
          <image class="homepage-why-images" src="{{ url_for('static', filename='images/growth.png')}}"></image>
        </div>
        <div class="three-blocks-container-bottom">
          <div class="three-blocks-container-bottom-title">
            Continuous Improvement
          </div>
          <div class="three-blocks-container-bottom-desc">
            Focuses on ongoing progress. It encourages students to continuously work on their skills and understanding, rather than just aiming for high scores on single tests or assignments
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fourth-container">
      <button id="to-top-btn" class="to-top-button">Back to Top &#8682</button>
  </div>

{% endblock %}
<button id="learn-more-btn" type="button" class="btn btn-outline-custom btn-lg">Learn More  ↓</button>