{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navActive %}
  <li class="nav-item navbar-class">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active navbar-class">
    <a class="nav-link" href="/entry/login">Login</a>
  </li>
  <li class="nav-item navbar-class">
    <a class="nav-link" href="/entry/signup">Signup</a>
  </li>
{% endblock %}

{% block content %}
<div class="parent-container">
  <div class="login-container">
    <form action="#" method="post">
  
      <div class="top">
        Login
      </div>
  
      <div class="form-group">
        <input 
          class="form-control" 
          type="email" 
          id="email"
          name="email" 
          placeholder="Enter Email"
        />
      </div>
  
      <div class="form-group">
        <input 
          class="form-control" 
          type="password" 
          id="password"
          name="password" 
          placeholder="Enter password"
        />
      </div>
  
      <div class="form-group">
        <input 
          class="button-login" 
          type="submit" 
          value="LOGIN"
        />
      </div>

      <div class="demo-desc">
        Demo account: demoTeacher@example.com / password: demo123
      </div>
    </form>
  </div>
</div>



{% endblock %}