body{
  background-color: lightgrey;
  height: 1000px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}
.logo-description{
  margin-top: 2px;
  font-size: 12px;
  text-align:center;
  font-family: Arial;
}


.sidebar{
  border-right: solid;
  border-right-width: 5px;
  border-right-color: rgb(104, 100, 100);
  background-color: rgb(197, 195, 195);
  position: fixed;
  overflow-y: auto;
  left: 0px;
  top: 91px;
  bottom: 0px;
  width: 230px;
  direction: rtl;
}
.side-bar-title{
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
  margin-bottom: 40px;
}
.side-bar-row{
  text-align: center;
  margin-bottom: 30px;
}


.class-students-container{
  height: 180px;
  border-top: solid;
  border-top-width: 2px;
  border-top-color: rgb(164, 159, 159);
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}
.singular-class-container{
  margin-top: 115px;
  margin-left: 230px;
}
.singular-class-header{
  margin-bottom: 20px;
  margin-left: 40px;
}

.buttons{
  display: grid;
}